.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left-sidebar {
  flex-grow: 1;
  max-width: 30%;
}

.event-list {
  flex-grow: 3;
  width: 40%;
}

.right-sidebar {
  flex-grow: 1;
  max-width: 30%;
}
