.header-container {
  display: flex;
  gap: 200px;
  padding: 50px 0;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: var(--main-blue);
}
.header-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.header-links-logout {
  flex-grow: 1;
  justify-content: right;
}
.link {
  cursor: pointer;
  color: var(--main-gray);
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s;
}
.link:hover {
  color: var(--main-blue);
}
.link.active {
  color: var(--main-blue);
}
