html {
  --main-blue: #3664da;
  --main-gray: #9A9A9B;
  --gray-light: #FAFAFA;
  --border-gray: #e4e4e4;
  --main-green: #52AB54;
  --main-red: #EF7163;
  --main-purple: #A426F2;
  --main-black: rgb(44, 44, 44);
}
.App {
}
a {
  text-decoration: none;
}
.p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
  color: var(--main-gray);
}
.big-p {
  font-size: 16px;
  font-weight: 700;
  color: #b4b4b4;
}
.h1 {
  margin: 0;
  margin-bottom: 20px;
}
.h2 {
  margin: 0;
  color: var(--main-black);
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.h3 {
  margin: 0;
  color: var(--main-black);
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.button {
  cursor: pointer;
  color: white;
  background-color: var(--main-blue);
  border: 2px solid var(--main-blue);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  display: block;
  text-align: center;
  transition: 0.2s;
}
.button:hover {
  background-color: transparent;
  color: var(--main-blue);
}
.button:active {
  background-color: var(--main-black);
  border: 2px solid var(--main-black);
  color: white;
}
.outlined {
  background-color: transparent;
  color: var(--main-blue);
}
.outlined:hover {
  color: white;
  background-color: var(--main-blue);
}
.outlined:active {
  background-color: var(--main-black);
  border: 2px solid var(--main-black);
}
.today {
  color: var(--main-green);
}
.upcoming {
  color: var(--main-purple);
}
